@font-face {
    src: url("/fonts/roboto-variable.ttf");
    font-family: "roboto";
    font-display: swap;
}

body, html {
    margin: 0;
    width: 100%;
    min-height: 100%;

    --bg1: #f9fafb;
    --fg1: #1f1e1e;

    background-color: var(--bg1);
    color: var(--fg1);

    font-size: 24px;
    font-family: "roboto", calibri, sans-serif;
}

div.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
