@font-face {
    src: url("/fonts/roboto-variable.ttf");
    font-family: "roboto";
    font-display: swap;
}

body, html {
    margin: 0;
    width: 100%;
    min-height: 100%;

    --bg1: #f9fafb;
    --bg2: #ffffff;
    --fg1: #1f1e1e;
    --fg2: #656565;
    --link: #3971a5;
}

body, input {
    background-color: var(--bg1);
    color: var(--fg1);

    font-size: 20px;
    font-family: "roboto", calibri, sans-serif;
}

body.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

p.small {
    margin: 0;

    font-size: 0.8em;
    color: var(--fg2);
}

p.error {
    text-align: center;
    color: #e14040;
}

a {
    color: var(--link);
    text-decoration: none;
    font-weight: bold;
}

a:not(.button):hover {
    text-decoration: underline;
}
