div#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    padding: 1.2rem;

    background-color: var(--bg2);
    border: 1px solid #00000010;
    border-radius: 1rem;
    box-shadow: 0 0 20px #0000000a;
}

label {
    font-size: .8rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
}

form>div {
    display: flex;
    align-items: center;

    width: 100%;
    margin: .3rem 0;
    padding: 0 1rem;
}

form>div>* {
    width: 50%;
    flex: 1;
}

label {
    text-align: right;
    padding-right: .5em;

    color: var(--fg2);
}

input:not([type="submit"]) {
    box-sizing: border-box;

    padding: .2em;
    border: 1px solid #00000020;
    border-radius: .3em;

    font-size: .8em;
}

input[type="submit"] {
    width: 30%;
    min-width: fit-content;

    margin: .5em 0;
    padding: .3em .2em;
    border: 3px solid transparent;
    border-radius: 10em;

    background-color: #aebac1;
    font-size: .9em;
    color: var(--bg1);
}

input[type="submit"]:hover {
    cursor: pointer;

    border: 3px solid #00000020;
    color: var(--bg2);
}

a {
    height: 1.5em;
}
